/* Pagination */
.d-flex{
    display: flex;
}
.pagination_center{
    display: flex;
    justify-content: center;
}

/* Sign Up Page */
.inner{
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.inner .image-holder{
    width: 40%;
    align-self: center;
}
.inner form{
    width: 60%;
}
.inner .form-control:focus{
    border-color: #07e2ff;
    box-shadow: none;
}
.inner  .form-control{
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
.form-wrapper > i{
    font-size: 18px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.d-flex .btn-back{
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #000;
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
}
.d-flex .btn-back i{
    margin-right: 10px;
}